{% load static %}

<nav class="navbar navbar-expand-lg bg-success text-white">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand text-white" href="/">IFMoradas</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="d-flex me-auto">
				<input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search" id="search" name="search" />
				<button class="btn btn-outline-light" type="submit">Pesquisar</button>
			</form>
			{% if user.is_authenticated %}
			<div class="dropdown">
				<button
					class="btn btn-outline-light dropdown-toggle"
					type="button"
					id="dropdownMenuButton1"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					{{user.first_name}} {{user.last_name}}
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="/novo">Adicionar novo imóvel</a></li>
					<li><a class="dropdown-item" href="#">Ver seus imóveis</a></li>
					<li><a class="dropdown-item" href="/logout">Sair</a></li>
				</ul>
			</div>
			{% else %}
				<a href="/telaLogin"><i class="bi bi-person-circle"></i></a>
			{% endif %}
		</div>
	</div>
</nav>
