{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}">IFMoradas</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="/novo">Novo</a>
				</li>
			</ul>
			<form class="d-flex" method="GET">
				<input class="form-control me-2" type="search" name="search" placeholder="Buscar" aria-label="Buscar" />
				<button class="btn btn-success" type="submit"><img src="{% static 'img/search.svg' %}" width="20px" /></button>
			</form>
			<div class="nav-item">
				<img src="{% static 'img/user.svg' %}" width="20px" />
			</div>
		</div>
	</div>
</nav>
