{% extends 'base.html' %} {% block conteudo %} {% load static %}

<section>
	<div class="container px-4 px-lg-5 my-5 shadow-lg p-3 mb-5 bg-body rounded">
		<div class="row gx-4 gx-lg-5 align-items-center">
			<div class="col-md-6">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img
								class="card-img-top mb-5 mb-md-0"
								src="{% get_media_prefix %}{{principal.arquivo}}"
								style="max-height: 350px"
							/>
						</div>
						{% for foto in fotos %}
						<div class="carousel-item">
							<img
								class="card-img-top mb-5 mb-md-0"
								src="{% get_media_prefix %}{{foto.arquivo}}"
								alt="{{foto.arquivo}}"
								style="max-height: 350px"
							/>
						</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Anterior</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Posterior</span>
					</button>
				</div>
			</div>
			<div class="col-md-6">
				<h1 class="display-5 fw-bolder">{{imovel.nome}}</h1>
				<div class="fs-5 mb-5">
					<span>R${{imovel.valor}}</span>
				</div>
				<p class="lead">{{imovel.descricao}}</p>
				<div class="d-flex mt-5">
					<div class="btn-group" role="group" aria-label="Basic mixed styles example">
						<a href="/contato" class="btn btn-outline-success"><i class="bi bi-arrow-right me-1"></i> Entrar em contato</a>
						<a href="/editar/{{imovel.id}}" class="btn btn-success"><i class="bi bi-gear-fill"></i></a>
						<a href="/telaImagem/{{imovel.id}}" class="btn btn-success"><i class="bi bi-image-fill"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="py-5 bg-light">
	<div class="container px-4 px-lg-5 mt-5">
		<h2 class="fw-bolder mb-4">Outros Imóveis</h2>
		<div class="container">
			<div class="row" id="geral">
				{% for imovel in moradias %}
				<div class="col-md-3 col-sm-6 my-2" onclick="location.href='/detalhes/{{imovel.id}}';">
					<div class="card">
						{% for imagem in imagens %} {% if imovel.id == imagem.imovel %}
						<img src="{% get_media_prefix %}{{imagem.arquivo}}" class="card-img-top" style="max-height: 150px" />
						{% endif %} {% endfor %}
						<div class="card-body">
							<h5 class="card-title">{{imovel.nome}}</h5>
							<b class="card-text text-right">R$ {{imovel.valor}}</b>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
