{% extends 'base.html' %} {% block conteudo %}
<div class="col-8 m-auto pt-2 pb-2 text-center">
	<h1>Formulário</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
	<a href="/" class="btn btn-info">Voltar</a>
</div>

<div class="col-8 m-auto pt-2>s pb-2 text-center">
	<form name="form" id="form" action="{% if form %} /update/{{moradias.id}}/ {% else %} /create/ {%endif%}" method="post">
		{% csrf_token %}
		<div class="form-group mt-4">{{form.nome}}</div>
		<div class="form-group mt-4">{{form.descricao}}</div>
		<div class="form-group mt-4">{{form.valor}}</div>
		<div class="form-group mt-4">{{form.imagem1}}</div>
		<div class="form-group mt-4">{{form.imagem2}}</div>
		<div class="form-group mt-4">{{form.imagem3}}</div>
		<input type="submit" class="btn btn-success" value="Salvar" />
	</form>
</div>
{% endblock %}
