<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Formulário</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="col-8 m-auto pt-2 pb-2 text-center">
			<h1>Formulário</h1>
		</div>

		<div class="col-8 m-auto pt-2 pb-2 text-center">
			<a href="/crud" class="btn btn-info">Voltar</a>
		</div>

		<div class="col-8 m-auto pt-2>s pb-2 text-center">
			<form name="form" id="form" action="{% if db %} /crud/update/{{db.id}}/ {% else %} /crud/create/ {%endif%}" method="post">
				{% csrf_token %}
				<div class="form-group mt-4">{{form.modelo}}</div>
				<div class="form-group mt-4">{{form.marca}}</div>
				<div class="form-group mt-4">{{form.ano}}</div>
				<input type="submit" class="btn btn-success" value="Salvar" />
			</form>
		</div>

		{% load static %}
		<script src="{% static scripts.js %}"></script>
	</body>
</html>
