{% extends 'base.html' %} {% block conteudo %}
<div class="container shadow-lg p-3 my-3 bg-body rounded">
	<div class="col-8 m-auto pt-2 pb-2 text-center">
		<h1>Formulário de Imóvel</h1>
	</div>
	<div class="col-8 m-auto pt-2>s pb-2 text-center mt-3">
		<form name="form" id="form" action="{% if moradias %} /update/{{moradias.id}}/ {% else %} /create/ {%endif%}" method="post">
			{% csrf_token %}
			<div class="form-floating mb-3">
				<input
					type="text"
					class="form-control"
					id="floatingInput"
					placeholder="text"
					name="nome"
					maxlength="50"
					required
					id="id_nome"
					value="{{moradias.nome}}"
				/>
				<label for="floatingInput">Título</label>
			</div>
			<div class="form-floating mb-3">
				<input
					type="text"
					class="form-control"
					id="floatingInput"
					placeholder="text"
					name="descricao"
					maxlength="500"
					required
					id="id_descricao"
					value="{{moradias.descricao}}"
				/>
				<label for="floatingInput">Descrição</label>
			</div>
			<div class="form-floating mb-3">
				<input
					type="text"
					class="form-control"
					id="floatingInput"
					placeholder="text"
					name="valor"
					step="0.01"
					required
					id="id_valor"
					value="{{moradias.valor}}"
				/>
				<label for="floatingInput">Valor</label>
			</div>
			<div class="d-grid gap-2 d-md-block">
				<input type="submit" class="btn btn-success" value="Salvar" />
			</div>
		</form>
	</div>
</div>
{% endblock %}
