{% extends 'base.html' %} {% block conteudo %}
<div class="container shadow-lg p-3 my-3 bg-body rounded">
	<div class="col-8 m-auto pt-2 pb-2 text-center">
		<h1>Gerenciador de Imagens</h1>
	</div>
	<div class="col-8 m-auto pt-2>s pb-2 text-center mt-3">
		<form action="{% url 'novaImagem' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="imovel" value="{{imovel}}" />
			<div class="mb-3">
				<input class="form-control" type="file" id="formFile" name="imagem1" />
			</div>
			<div class="mb-3">
				<input class="form-control" type="file" id="formFile" name="imagem2" />
			</div>
			<div class="mb-3">
				<input class="form-control" type="file" id="formFile" name="imagem3" />
			</div>
			<div class="mb-3">
				<input class="form-control" type="file" id="formFile" name="imagem4" />
			</div>
			<button class="btn btn-success" type="submit">Salvar</button>
		</form>
	</div>
</div>

{% endblock %}
