{% extends 'base.html' %} {% block conteudo %}
<div class="container">
	<div class="row" id="geral">
		{% for imovel in moradias %}
		<div class="col-md-3 col-sm-6 my-2" onclick="location.href='/detalhes/{{imovel.id}}';">
			<div class="card">
				<img src="{{imovel.imagem1}}" class="card-img-top" alt="{{imovel.imagem1}}" />
				<div class="card-body">
					<h5 class="card-title">{{imovel.nome}}</h5>
					<b class="card-text text-right">R$ {{imovel.valor}}</b>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="paginas">
	{% if moradias.has_previous %}
	<a href="?page={{moradias.previous_page_number}}">Anterior</a>
	{% endif %} 
	
	{{moradias.number}} 
	
	{% if moradias.has_next %}
	<a href="?page={{moradias.next_page_number}}">Próximo</a>
	{% endif %}
</div>
{% endblock %}
