{% extends 'base.html' %} {% block conteudo %} {% load static %}
<div class="container pt-5">
	<div class="row" id="geral">
		{% for imovel in moradias %}
		<div class="col-md-3 col-sm-6 my-2" onclick="location.href='/detalhes/{{imovel.id}}';">
			<div class="card">
				{% for imagem in imagens %} {% if imovel.id == imagem.imovel %}
				<img src="{% get_media_prefix %}{{imagem.arquivo}}" class="card-img-top" style="max-height: 150px" />
				{% endif %} {% endfor %}
				<div class="card-body">
					<h5 class="card-title">{{imovel.nome}}</h5>
					<b class="card-text text-right">R$ {{imovel.valor}}</b>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container my-4">
	<div class="row text-center">
		<ul class="pagination justify-content-center shadow-lg p-3 my-3 bg-body rounded">
			<li class="page-item"><a class="page-link text-success" href="?page=1">Primeiro</a></li>

			{% if moradias.has_previous %}
			<li class="page-item"><a class="page-link" href="?page={{moradias.previous_page_number}}">Anterior</a></li>
			{% else %}
			<li class="page-item"><a class="page-link text-muted" href="#">Anterior</a></li>
			{% endif %}

			<li class="page-item"><a class="page-link" href="?page={{moradias.number}}">{{moradias.number}}</a></li>

			{% if moradias.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{moradias.next_page_number}}">Próximo</a></li>
			{% else %}
			<li class="page-item"><a class="page-link text-muted" href="#">Próximo</a></li>
			{% endif %}

			<li class="page-item"><a class="page-link text-success" href="?page={{moradias.paginator.num_pages}}">Último</a></li>
		</ul>
	</div>
</div>
{% endblock %}
