<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Visulização</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="col-8 m-auto pt-2 pb-2 text-center">
			<h1>Visulização</h1>
		</div>

		<div class="col-8 m-auto pt-2 pb-2 text-center">
			<a href="/crud" class="btn btn-info">Voltar</a>
		</div>

		<div class="col-8 m-auto pt-2>s pb-2 text-center">
			<strong>Modelo:</strong>{{item.modelo}}<br>
			<strong>Marca:</strong>{{item.marca}}<br>
			<strong>Ano:</strong>{{item.ano}}<br>
		</div>
	</body>
</html>
